<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="author" content="Kodinger" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>Login</title>
<body>


<table>
						<thead>
							<tr>
							<th>id de l'annonce  </th>
								<th>titre de l 'annonce    </th>
								<th>description de l 'annonce   </th>																
								<th>prix</th>
								<th>type de l'emploi</th>
								<th>ville de l'emploi</th>
								
							</tr>
						</thead>
						<tbody>
							<tr th:each="bilel:${bilou}">							   
								<td th:text="${bilel.id}"></td>
								<td th:text="${bilel.email}"></td>
								<td th:text="${bilel.username}"></td>								
								
									
								
						    </tr>
							
						</tbody>
					</table>
    

</body>
</html>