<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="author" content="Kodinger" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>Login</title>


<body >
	
					<table>
						<thead>
							<tr>
							<th>id</th>
								<th>Nom</th>
								<th>prenom</th>
								<th>adresse email</th>
								<th>date de naissance</th>
								<th>nom d'utilisateur)</th>
								<th>ajouter une image</th>
								<th>password</th>
								
							</tr>
						</thead>
						<tbody>
							<tr th:each="user:${users}">
							<td th:text="${user.id}"></td>
								<td th:text="${user.firstname}"></td>
								<td th:text="${user.lastname}"></td>
					          <td th:text="${user.email}"></td>
					          
					          
                     	 <td><img th:src="@{'/downloadFile/'+${user.id}}" width="100"
									height="100">           </td>	
									
									<td><a  href="#"
										th:href="@{'/user/' + ${user.id} + '/image'}"
										role="button">Change Image</a></td>
		<td> <a  href="#" th:href="@{'/user/' + ${user.id} + '/annonce'}" >mes annonces</a></td>
					          
					          
					          
<!-- 					         <td> < img th:src="*{'data:image/png;base64,'+image}" alt="" /></td>
 -->					         
					        <!--  <td th:each="docum : ${T(com.bilel.TunisiaGate.domains.Document).values()}" /td>
					          
                           <td><img th:src="@{'/downloadFile/'+${doc.id}}" width="100"
									height="100">           </td>					           -->
<!-- 					           <td><img th:src="@{'data:image/jpeg;base64,' + ${user.userpic.data}}" /></td>
 -->					          <!-- <td><a  th:href="@{/addRole(email=${user.email})}" class="btn btn-dark">AddTask</a></td>
					      
					          addrole.html -->
							</tr>
							<!-- <tr th:each="doc:${docs}">
								<td><img th:src="@{'data:image/jpeg;base64,' + ${doc.data}}" /></td>
								<td th:text="${user.lastname}"></td>
					          <td th:text="${user.email}"></td>
					          <td th:text="${user.dateNais}"></td>
					           <td th:text="${user.userpic.data}"></td>
					           </tr> -->
						</tbody>
					</table>

</body>
</html>
