<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns="http://www.w3.org/1999/xhtml"
   
    xmlns:sec="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="author" content="Kodinger" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title> S'INSCRIRE </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/my-login.css">
</head>

<body class="my-login-page" >
<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
        <div class="container-fluid">
            
            <a class="navbar-brand" href="/">TUNJOBS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Annonces</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle"
                        data-toggle="dropdown" id="navbarDropdownMenuLink">Emploi par type</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Type 1</a>
                            <a href="#" class="dropdown-item">Type 2</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle"
                        data-toggle="dropdown" id="navbarDropdownMenuLink">Emploi par ville</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Ville 1</a>
                            <a href="#" class="dropdown-item">Ville 2</a>
                            <a href="#" class="dropdown-item">Ville 3</a>
                            <a href="#" class="dropdown-item">Ville 4</a>
                        </div>
                    </li>

                 
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a sec:authorize="isAnonymous()" href="login" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="isAuthenticated()" href="logout" class="nav-link">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="isAnonymous()" href="register" class="nav-link" >Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				
				<div class="card-wrapper">
				<div class="card-wrapper">
					
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">s'identifier</h4>
							
							<div th:if="${param.error}">
					<div class="alert alert-danger"
					   th:text=" '
					              Invalid username or password.
					   '"></div>
				</div>
							
							<form method="POST"  novalidate="" th:action="@{/login}">
								<div class="form-group">
									<label for="username">Nom d'utilisateur</label>
									<input id="username" type="text" class="form-control" name="username" value="" required autofocus>
									
										
									
								</div>

								<div class="form-group">
								<label for="password">Mot de Passe</label>
									<input id="password" type="password" class="form-control" name="password" required data-eye>
								    <div class="invalid-feedback">
								    	Password is required
							    	</div>
								</div>

								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" name="remember" id="remember" class="custom-control-input">
										<label for="remember" class="custom-control-label">Remember Me</label>
									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Connexion
									</button>
								</div>
								<div class="mt-4 text-center">
									Vous n'avez pas de compte? <a href="register">Créer un compte </a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2020 &mdash; TUNJOBS 
					</div>
				</div>
			</div>
		</div>
	</section>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>

</body>
</html>
